main{
    padding: 0px 20px 20px 20px;
}
.carousel>.carousel-inner>.carousel-item>img{
    padding: 0px 25px 25px 25px;
    /* width: 500px; */
    height: 25rem;
    align-content: center;
}
.navbar{
    align-items: center;
    font-size: 2rem;
    text-decoration: solid;
    background-color: black;
    color: beige;
}
.navbar img{
    height: 3rem;
    width: 3rem;
}
.registration{
    background-color:darkgray;
    padding: 10px;
}
.about{
    padding: 0px 50px 0px 50px;
    background-color: lightgrey;
    text-align: justify;
}