@font-face {
    font-family: Sans-Serif-Shadow;
    src: url(./media/SansSerifShaded.ttf);
}
body{
    background-image: url(./media/lo\ \(1\).png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 300px;
}
main{
    padding: 0px 20px 20px 20px;
}
.carousel>.carousel-inner>.carousel-item>img{
    padding-bottom: 25px;
    height: 25rem;
    align-content: center;
}
.navbar{
    align-items: center;
    font-size: 2rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-decoration: solid;
    background-color: #0E2954;
    color: rgb(255, 255, 255);
}
.navbar img{
    height: 3rem;
    width: 3rem;
}
#registration{
    background-image: linear-gradient(rgb(67, 161, 243), #0E2954);
    color:rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}
.about{
    padding: 0px 50px 0px 50px;
    background-color: #b8e0da75;
    color: #003e79;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    z-index: 1;
}